{% extends 'user_interface/main.html' %}


{% block content %}

{% if page == 'login' %}

<div class="container" style="margin-top: 100px;">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <form method="POST" action="">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" name="username" class="form-control" id="username" placeholder="Enter Username...">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Enter Password...">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
            <div class="text-center">
                <p class="mb-3">Haven't signed up yet?</p>
                <a href="{% url 'register' %}" class="btn btn-primary">Sign up</a>
            </div>
        </div>
    </div>
</div>



{% else %}
<!-- 
<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}

        <input type="submit" value="Register" />

    </form>
    <p>Already signed up?</p>
    <a href="{% url 'login' %}">Login</a>

</div> -->
<div class="container" style="margin-top: 100px;">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <form method="POST" action="">
                {% csrf_token %}
                
                <!-- Username -->
                <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" name="username" class="form-control" id="username" placeholder="Enter Username...">
                    {% if form.username.errors %}
                        <div class="text-danger">{{ form.username.errors }}</div>
                    {% endif %}
                </div>
            
                <!-- Password -->
                <div class="mb-3">
                    <label for="password1" class="form-label">Password:</label>
                    <input type="password" name="password1" class="form-control" id="password1" placeholder="Enter Password...">
                    {% if form.password1.errors %}
                        <div class="text-danger">{{ form.password1.errors }}</div>
                    {% endif %}
                </div>
            
                <!-- Confirm Password -->
                <div class="mb-3">
                    <input type="password" name="password2" class="form-control" id="password2" placeholder="Confirm Password...">
                    {% if form.password2.errors %}
                        <div class="text-danger">{{ form.password2.errors }}</div>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
            <div class="text-center">
                <p class="mb-3">Already signed up?</p>
                <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
            </div>
        </div>
    </div>
</div>

{% endif %}
{% endblock content %}